@media (max-width: 1200px) {
	.menu{
		&__item{
			padding-right: 18px;
		}
		&__link{
			font-size: 13px;
		}
	}
	.promo{
		&__title{
			font-size: 50px;
		}
	}
	.mobile__item{
		width: 300px;
	}
}

@media (max-width: 991px) {
	.menu{
		&__item{
			padding-right: 8px;
		}
		&__link{
			font-size: 10px;
		}
	}
	.subheader{
		&__logo{
			img{
				width: 100%;
			}
		}
		&__sublogo{
			font-size: 11px;
		}
		&__phone{
			font-size: 18px;
		}
		&__btn{
			margin-top: 21px;
			width: 100%;
			height: 40px;
		}
	}
	.promo{
		&__title{
			font-size: 40px;
		}
		&__subtitle{
			font-size: 30px;
		}
	}
	.advantages{
		&__item{
			flex-direction: column;
		}
		&__info{
			height: 165px;
		}
	}
	.mobile{
		&__item{
			width: 220px;
			height: 220px;
			padding-top: 68px;
		}
		&__subtitle{
			font-size: 15px;
		}
	}
}

@media (max-width: 767px) {
	.header__menu{
		position: fixed;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		top: 0;
		left: -100%;
		width: 85%;
		height: 100vh;
		padding: 20px 15px;
		background-color: 	rgba(0, 0, 0, 0.8);
		transition: 0.6s;
		&__active{
			left: 0;
		}
	}
	.menu{
		&__item{
			border: none;
			padding-right: 0;
			margin: 10px;
		}
		&__link{
			font-size: 20px;
		}
	}
	.hamburger{
		display: block;
		position: absolute;
		right: 10px;
		top: 50%;
		transform: translateY(-50%);
		width: 26px;
		height: 12px;
		span{
			display: block;
			height: 2px;
			width: 100%;
			background-color: #fff;
			margin-bottom: 3px;
			transition: .5s all;
		}
		&__active{
			span{
				margin-bottom: -2px;
				&:nth-child(1){
					transform: translateY(3px) rotate(-45deg);
				}
				&:nth-child(2){
					display: none;
				}
				&:nth-child(3){
					transform: translateY(3px) rotate(45deg);
				}
			}
		}
	}
	.xs-hidden{
		display: none;
	}
	.xs-visible{
		display: block;
	}
	.subheader{
		&__phone{
			display: block;
			margin-top: 15px;
			color: #fff;
			font-size: 18px;
			text-transform: uppercase;
			text-align: center;
		}
		&__btn{
			display: block;
			margin: 0 auto;
			width: 200px;
			height: 30px;
			margin-top: 10px;
		}
	}
	.promo{
		&__title{
			font-size: 35px;
		}
		&__subtitle{
			font-size: 25px;
		}
	}
	.advantages{
		&__info{
			text-align: left;
		}
		&__text{
			font-size: 13px;
		}
	}
	.choise{
		padding: 0 0 20px;
		&__img{
			top: 200px;
			img{
				width: 500px;
			}
		}
		&__descr{
			margin-top: 80px;
		}
	}
}

@media (max-width: 575px){
	.subheader{
		height: 60px;
		&__logo{
			margin-top: 18px;
		}
		&__sublogo{
			display: none;
		}
		&__phone{
			font-size: 12px;
		}
		&__btn{
			width: 110px;
			height: 22px;
			margin-top: 5px;
			font-size: 9px;
		}
	}
	.promo{
		min-height: 400px;
		padding: 153px 0 35px;
		&__text{
			display: none;
		}
		&__title{
			font-size: 30px;
			padding: 0 24px;
			line-height: 35px;
		}
		&__subtitle{
			font-size: 20px;
			margin-top: 33px;
			padding: 0 10px;
			line-height: 30px;
		}
		&__btn{
			margin-top: 40px;
		}
	}
	.big-title{
		font-size: 28px;
	}
	.advantages{
		&__img{
			margin-right: 0;
		}
		&__info{
			margin-top: 10px;
			text-align: center;
		}
	}
	.choise{
		padding: 0 0 20px;
		&__img{
			top: 250px;
			img{
				width: 300px;
			}
		}
		&__descr{
			margin-top: 50px;
		}
	}
	.world{
		min-height: 0;
		height: 350px;
		&__link{
			margin-top: 100px;
		}
	}
	.footer{
		&__links{
			width: 100%;
			margin: 0;
			&:before{
				content: '';
				width: 100%;
			}
		}
		&-main__link{
			a{
				font-size: 10px;
			}
		}
		&-extra__link{
			font-size: 8px;
		}
	}
	.require__title{
		text-align: center;
		font-size: 20px;
	}
}